html, body {
  margin: 5px;
  padding: 0;
  background-color: White;
  overflow: auto;
}
body {
  font: 11px Helvetica, Arial, sans-serif;
}

#container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.row {
  /* width:1440px;*/
  float:left;
}

.cell {
  width:28px;
  height:22px;
  border:1px solid #ddd;
  border-bottom:1px solid red;
  float:left;
  font-size:10px;
  font-weight:bold;
  color:#fff;
  text-align:center;
}

.car {
  background-color:#f00;
}

.bus {
  background-color:#00f;
}

.truck {
  background-color:#aaa;
}

.hot {
  background-color:#f00;
}

.normal {
  background-color:#fff;
}

table {
  font-size:9px;
}

tr {
  padding:2px !important;
}

td {
  padding:2px !important;
}

.control_label, .arrow {
  font-size:12px;
  font-weight:bold;
}

.arrow {
  cursor:pointer;
}
